In [6]:
import pandas as pd
melb_file_path = r'C:\Users\zhangyiwen\Desktop\Machine Learning\data exploration\melb_data.csv'
melb_data = pd.read_csv(melb_file_path)
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [10]:
melb_data.columns
# show the size of the dataset
melb_data.shape

(13580, 21)

In [12]:
melb_data.dropna(axis=0)
y=melb_data.Price
melb_features=['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X=melb_data[melb_features]
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [13]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [28]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melb_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
The predictions are
[1480000. 1035000. 1465000.  850000. 1600000.]

In [31]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)
from sklearn.tree import DecisionTreeRegressor
melb_model=DecisionTreeRegressor(random_state=1)
melb_model.fit(train_X, train_y)
pred_y = melb_model.predict(test_X)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(test_y, pred_y)
print("Mean Absolute Error:", mae)
comparison = pd.DataFrame({'Predicted': pred_y, 'Actual': test_y})
comparison.head()

Mean Absolute Error: 241632.16966126655

       Predicted     Actual
321    2070000.0  1640000.0
4003    733000.0   675000.0
13348  2810000.0  2800000.0
2697    820000.0   615000.0
12600  2130000.0  2700000.0

In [32]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return mae

In [35]:
mae = []
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, test_X, train_y, test_y)
    print("Max leaf nodes: %d  \t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))
    mae.append(my_mae)

Max leaf nodes: 5  	 Mean Absolute Error:  356157
Max leaf nodes: 50  	 Mean Absolute Error:  264538
Max leaf nodes: 500  	 Mean Absolute Error:  221700
Max leaf nodes: 5000  	 Mean Absolute Error:  239472

In [36]:
best_mae = min(mae)
best_index = mae.index(best_mae)
best_max_leaf_nodes = [5, 50, 500, 5000][best_index]
print("Best max_leaf_nodes:", best_max_leaf_nodes)

Best max_leaf_nodes: 500

In [37]:
final_model = DecisionTreeRegressor(max_leaf_nodes=best_max_leaf_nodes, random_state=1)
final_model.fit(X, y)
predicted_prices = final_model.predict(X)
print(predicted_prices)

[1333354.55696203 1097544.87179487 1266637.93103448 ... 1146733.33333333
 2907312.5        1140557.8125    ]

In [38]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
forest_pred = forest_model.predict(test_X)
forest_mae = mean_absolute_error(test_y, forest_pred)
print("Random Forest MAE:", forest_mae)

Random Forest MAE: 180544.06532524488